@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(118, 182, 238);
}

.image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.image img {
    width: 54rem;
    float: left;
    margin-left: 0px 0px 0px 30px;
    height: 35rem;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo {
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

header .navbar a {
    color: rgb(222, 18, 18);
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: 0.4s;
    transition-property: background;
}

header .navbar a:not(:last-child) {
    margin-right: 25px;
}

header .navbar a:hover {
    background: white;
    color: chartreuse;
}

.content {
    max-width: 700px;
    margin: 50px 100px;
}

.content .info h2 {
    color: rgb(31, 96, 96);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: beige;
    font-size: 50px;
    font-weight: 700;
}

.content .info p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 45px;
}

.content .info-btn {
    color: cadetblue;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition-property: background;
}

.content .info-btn:hover {
    background: white;
}

footer {

    .media-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .media-icons a {
        position: relative;
        color: blue;
        font-size: 35px;
        transition: 0.4s;
        transition-property: transform;
    }

    .media-icons a:not(:last-child) {
        margin-right: 60px;
    }

    .media-icons a:hover {
        transform: scale(1.5);
    }

    .basic {
        color: #fff;
        padding: 10px;
        text-align: center;
    }
}